.label-container{
    display: flex;
    align-items: center;
}

.smaller-font{
    font-size: smaller;
}

label{
    white-space: nowrap;
}

input{
    width: 100%;
    padding: 8px;
    margin: 4px;
    box-sizing: border-box;
}

table{
    border-collapse: collapse;
    width: 100%
}

th, td{
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

th{
    background-color: #f2f2f2;
}

